[Unit]
Description=Fastbootd
Requires=dev-usb\x2dffs-fastboot.mount
Requires=data.mount
Requires=fastboot-udc-attach.service
After=dev-usb\x2dffs-fastboot.mount
Before=fastboot-udc-attach.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/lib/rpi-fastbootd/bin/run_fastboot
Restart=no

[Install]
WantedBy=multi-user.target
